//Includes

@import 'reset';
@import 'fontFace';
@import 'colors';
@import 'functions';
@import 'animations';
@import 'structure';


/* CORE */
#intro{
	background-image: url("../imgs/starrynight.gif");
	position: relative;
	width: 100%;
	height: 100vh;
}
#rocket-contain{
	position: relative;
	height: 100%;
	bottom: 0;
}
#rocket-contain img{
 width: 100%;
}

#logo{
	width: 25%;
	top: 10%;
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));	
}
#rocket{
	bottom: 0;
	position: absolute;
	z-index: 10;
	left: 50%;
	@include transform(translateX(-50%));
	@include animation(rocketship-1 2s infinite);
}
#comet{
	position: absolute;
	z-index: 9;
	bottom: -200px;
	left: 50%;
	@include animation(rocketship-2 2s infinite);
	@include transform(translateX(-51.25%));
}
#astronaut{
	width: 30%;
	position: absolute;
	top: 50%;
	left: -50%;
	@include animation(astronaut 20s infinite);
}

/* Departments */
#departments{
	background: $middlebg;
}
	.web-dev-planet{
		@include setCircleWidth(40%, $center, $floatNone);
		padding: 5px;
		@include animation('pulse 2s infinite'); 
	}
	#web-dev-gallery{
		display: none;
	}
	#web-dev-title {
		font-family: brandon-italics;
		font-size: .5rem;
		color: $web-dev;
		opacity: 0;
		-webkit-transition: opacity 1s, font-size 1s;
    	transition: opacity 1s, font-size 1s;
	}

	/* graphic design */
	.graphic-design-planet{
		@include setCircleWidth(40%, $center, $floatNone);
		padding: 5px;
		@include animation('pulse 2s infinite'); 
	}
	.graphic-design-planet::after {
		@include setCircleAfter();
		@include animation('slide-down 5s 3');
	}
	.graphic-design-planet div ::hover{
		width: 500px;
	}
	#graphic-design-gallery{
		display: none;
	}
	#graphic-design-title {
		font-family: brandon-italics;
		font-size: .5rem;
		color: $graphic-design;
		opacity: 0;
		-webkit-transition: opacity 1s, font-size 1s;
		transition: opacity 1s, font-size 1s;
	}
	
/* Generic */

/* NAV */
.web-dev-nav :hover{
	background: $web-dev !important;
}
.graphic-design-nav :hover{
	background: $graphic-design !important;
}
.video-production-nav :hover{
	background: $video-production !important;
}
.animation-nav :hover{
	background: $animation !important;
}
.photography-nav :hover{
	background: $photography !important;
}
nav ul li a{
	font-family: 'brandon-italics';
}
.top-bar-section ul li > a {
	font-family: 'brandon-italics';
}

/* Footer Stylings */
@charset "UTF-8";
.hero {
  background: url("http://www.banksy-wallpaper.com/wallpapers/800x600/10-i-am-father.jpg") no-repeat center center;
  background-size: cover;
  height: 50vh;
  overflow: hidden; }
  .hero h1, .hero h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 1rem 0 0 1rem;
    margin: 0; }

.row {
  max-width: 1200px; }

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  .footer .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0; }
  .footer .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff; }
    .footer .contact li {
      margin-bottom: 2rem; }
      .footer .contact li p {
        padding-left: 5rem; }
    .footer .contact i {
      position: absolute;
      background-color: #33383b;
      color: #fff;
      font-size: 2rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em; }
  .footer .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
  .footer .about {
    color: #92999f;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
  .footer .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem; }
    .footer .footer-links a::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem; }
    .footer .footer-links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }
  @media only screen and (min-width: 40.063em) {
    .footer p {
      text-align: left; }
    .footer .social {
      text-align: left;
      margin: 0; }
    .footer .contact {
      text-align: left; }
      .footer .contact > i {
        margin-right: 1rem; } }

.logo {
  color: #fff;
  font-size: 1.5rem; }
  .logo i {
    margin-right: 0.5rem; }
SCSS


.hero {
  background: url('http://www.banksy-wallpaper.com/wallpapers/800x600/10-i-am-father.jpg') no-repeat center center;
	background-size: cover;
  height: 50vh;
  overflow: hidden;
  h1, h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 1rem 0 0 1rem;
    margin: 0;
  }
}

.row {
  max-width: 1200px;
}

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  
  .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0;
  }
  
  .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff;
    
    li {
      margin-bottom: 2rem;
      
      p {
        padding-left: 5rem;
      }
    }
    
    i {
      position: absolute;
      background-color: #33383b;
      color: #fff;
      font-size: 2rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em;
    }
  }
  
  .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
  }
  
  .about {
    color: #92999f;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
  }
  
  .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem;
    
    &::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem;
    }
    
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
  
  @media only screen and (min-width: 40.063em) {
    
    p {
      text-align: left;
    }
    
    .social {
      text-align: left;
      margin: 0;
    }
    
    .contact {
      text-align: left;
      > i {
        margin-right: 1rem;
      }
    }
    
  }
}
   
.logo {
  color: #fff;
  font-size: 1.5rem;
  
  i {
    margin-right: 0.5rem;
  }
}

/* Foundation Overrides */
header{
	position: relative;
}
.contain-to-grid{
	position: fixed;
	z-index: 100;
	top: 0;
	background: $invisible;
}
.contain-to-grid .top-bar{
	@include border-bottom-radius(15px);
}
.top-bar-section ul li {
	background: $invisible !important;
	@include small-device{
		background: #333333 !important;
	}
}

.top-bar-section ul li>a {
  @include border-bottom-radius(15px);
}